@use '../helpers' as *;

.trending {

    &__title {
        display: flex;
        justify-content: end;
        align-items: center;

        &-p {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            column-gap: rem(11);
            color: var(--color-dark);
            padding-block: rem(3);
            padding-left: rem(21);
            background-color: var(--color-light);
            border-radius: rem(32);

            &::after {
                content: '';
                width: rem(58);
                aspect-ratio: 1;
                background: url('../../icons/fire.svg') right/contain no-repeat;
            }
        }
    }

    &__block {
        padding-top: rem(43);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(29);
        row-gap: rem(29);
    }

    &__card {
        padding-block: rem(33);
        padding-left: rem(42);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(17.35px);
        border: var(--border-grey);
        border-radius: rem(24);
        width: rem(690);
        display: flex;
        align-items: center;
        column-gap: rem(30);
        cursor: pointer;

        @include hover {
            box-shadow: 2px 2px 6px 4px var(--color-grey);
        }

        &-div {
            display: flex;
            flex-direction: column;
            row-gap: rem(17);
        }
    }
    
    &__buttons {
        display: flex;
        column-gap: rem(21);

        &-button {
            width: rem(124);
            height: rem(40);
            background-color: transparent;
            border-radius: rem(8);
            color: var(--color-light);
            font-size: rem(18);
            border: var(--border-grey);

            @include hover {
                background-color: var(--color-grey);
            }
        }
    }

    &__count {
        display: flex;
        column-gap: rem(45);

        &-desc {
            font-size: rem(28);
        }

        &-block {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: rem(11);
            background-color: transparent;
            border-radius: rem(10);
            border: var(--border-grey);
            padding: rem(4) rem(8);

            &--title {
                display: flex;
                font-size: rem(14);
            }

            &--button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--color-light);
                height: rem(10);
                background-color: transparent;
                border: none;

                @include hover {
                    color: var(--color-grey);
                }
            }
        }
    }
}